

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');

/*bannar*/

.banner{
    display: flex;
    border-radius: 20px;
    background-color: blueviolet;
    background-repeat: no-repeat;
    height: 400px;
    padding-bottom: 150px;
    margin: 100px 100px 30px 150px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 60px;
    margin-bottom:0;
}
.half-width p{
    font-size: 20px;
    margin-bottom: 30px;
}

.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: red;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.manu-with-players{
    display: flex;
    justify-content: center;
    
}
/*manu box*/
.manu{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    height: 250px;
    width: 200px;
    background-color: black;
    margin-right: 30px;
}
.upcomming-button{
    text-decoration: none;
    background:white;
    padding: 10px 10px;
    border-radius: 30px;
    color: black;
    font-weight: 700;
     
}
.allgroup-button{
    text-decoration: none;
    background:white;
    padding: 10px 40px;
    border-radius: 30px;
    color: black;
    font-weight: 700;
}
.blog-button{
    text-decoration: none;
    background: red;
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    font-weight: 800;
}

/*players style*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 10px;
    gap:30px
}
.player img{

    width: 200px;
    height: 150px;
}
.player1 img h2{
    display: flex;
    
    width: 100px;
    height: 80px;
}


footer{
    padding: 10px;
    background-color: aquamarine;
}
#Goal{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: white ; 
    padding-bottom: 0px;
    text-align: center;
}
.nav a{
    font-size:20px;
    align-items: center;
    text-justify: auto;
}
/*media queries*/
@media only screen and(max-width:688) {
    .banner{
        width: 100%;


    }

    .manu-with-players{
        width:100%;
    }
   
    .players{
        
        grid-template-columns: repeat(1, 1fr);
    }
    .player1{
        flex-direction: column;
    }
    .footer{
        width:100%
    }
}

   
